*.pak filter=lfs diff=lfs merge=lfs -text
*.sabl filter=lfs diff=lfs merge=lfs -text
*.sabs filter=lfs diff=lfs merge=lfs -text
BlackOps3.exe filter=lfs diff=lfs merge=lfs -text
updater/iw7-mod/data-dev/cdata/zone/mp_dome_dusk.ff filter=lfs diff=lfs merge=lfs -text
updater/iw7-mod/data/cdata/zone/mp_dome_dusk.ff filter=lfs diff=lfs merge=lfs -text
updater/cb-launcher/data/cef/release/libcef.dll filter=lfs diff=lfs merge=lfs -text
updater/cb-launcher-dev/data/cef/release/libcef.dll filter=lfs diff=lfs merge=lfs -text
updater/iw4x/iw4x/iw4x_03.iwd filter=lfs diff=lfs merge=lfs -text
updater/iw4x/iw4x/iw4x_05.iwd filter=lfs diff=lfs merge=lfs -text

updater/cb-launcher.json text eol=lf
updater/cb-launcher/data/launcher-ui/**/*.css text eol=lf
updater/cb-launcher/data/launcher-ui/**/*.html text eol=lf
updater/cb-launcher/data/launcher-ui/**/*.js text eol=lf
